.sectionWrapper{
    padding: 80px 0;
    background: #fff;
}

.container{
    margin-bottom: 50px;
}

.root{

}

.title {
    font-size: 32px;
    text-align: center;
    text-transform: uppercase;
}